
body {width: 55em;
max-width: 100%;
margin-left: auto;
margin-right: auto;
font-family: Liberation Mono;
line-height:1.8;
}

.column {
  float: left;
  width: 50%;
}

/* Header Styles */
.header {
  background: #f1f1f1;
  padding: 20px;
  margin: 20px 0 10px 0;
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: Liberation Sans;
  line-height:2;
}
.header h1 {
  font-size: 3em;
  position:top;
  padding:15px
}

/* Navigation Styles */
ul#navigation {
  background-color: #fff;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  text-align:right
}

#navigation > li {
  display: inline-block;
  list-style-type: none;
  font-size: 1.3em;
  margin: 0;
}

#navigation > li > a {
  padding: 3px 10px;
  display: inline-block;
}

#navigation > li > a:link,
#navigation > li > a:visited {
  color: #000;
  text-decoration: none;
}

#navigation > li > a:hover {
  background-color: #f1f1f1;
  text-decoration: none;
  color: #000;
}

#navigation > li > a.toc-toggle:before {
  /* margin-right: .2em; */
  content: "≡";
}   

/* Footer Styles */
.footer {
  background-color: #f1f1f1;
  color: #000;
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
  margin-top: 40px;
  clear: both;
  line-height:1.5;
}

/* Link styles*/
a:link{/*Rosso Corsa*/
color:#d40000;
text-decoration:none}
a:visited{ /*Red Brown*/
color:#a52a2a;}
a:hover{
text-decoration: underline;
text-transform: uppercase;}

/* Table style*/
table {
width: 100%;
}

th, td {
font-weight: normal;
padding: 10px;
text-align: left;
border-bottom: 1px solid #ddd
}
